<h2>About</h2>

<div class="wide media">
  <div class="media-left hidden-xs">
    <a href="#">
      <img class="media-object" src="https://github.com/rscarson.png" alt="headshot">
    </a>
  </div>
   <div class="media-body">
    <h4 class="media-heading"><%= @settings['about']['name'] %></h4>
    <p><%= @settings['about']['desc'] %></p>

    <h5>Education</h5>
    <ul>
    <% @settings['about']['education'].each do |education| -%>
      <li><strong><%= education['name'] %> <small class="text-muted"><%= education['start'] %> - <% if education.has_key? 'end' %><%= education['end'] %><% else %>Present<% end%></small></strong></li>
    <% end -%>
    </ul>

    <h5>Work</h5>
    <ul>
    <% @settings['about']['work'].each do |work| -%>
      <li><strong><%= work['name'] %> <small class="text-muted"><%= work['start'] %> - <% if work.has_key? 'end' %><%= work['end'] %><% else %>Present<% end%></small></strong></li>
    <% end -%>
    </ul>

    <h3>&nbsp;</h3>
    <%= render 'social' %>
  </div>
</div>