<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Richard Carson - Portfolio</title>
    <%= csrf_meta_tags %>

    <meta name="author" content="Richard Carson" />
    <meta name="keywords" content="Richard Carson, Software, Developer, Lavendeux" />
    <meta name="description" content="A Carleton software engineering graduate and Algonquin alumni with 9 years of industry experience. Combines the leadership skills and proactive problem-solving of engineering with excellence in programming and software design. Proven reliability and enthusiasm towards the design, development, and deployment of software." />

    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'menu' %>
    <%= yield %>
  </body>
</html>
